doctype html
html(dir="rtl")
    head
        title=  "دانشکده شهید شمسی پور"
        link(rel="stylesheet" href="/main.css")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#1e87f0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js")
        block head

    body
        div(uk-sticky="media: 960" class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed uk-margin-bottom")
            div.uk-container.uk-container-expand.uk-background-primary
                nav.uk-navbar(uk-navbar)
                    div.uk-navbar-center
                        h2.uk-margin-top.w3-text-white(style="font-family: title") دانشکده شهید شمسی پور
        block content
